name: Docker Image CI
on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Person to greet'
        required: true
        default: 'Mona the Octocat'
      home:
        description: 'location'
        required: false
        default: 'The Octoverse'
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    if: ${{ true }}
    runs-on: ubuntu-latest
    steps:
#    - uses: actions/checkout@v2
    - uses: actions/checkout@v4
    - name: Build the Docker image
#      run: docker build --build-arg TTEST=franzi --build-arg GH_TOKEN=${{ secrets.GITHUB_TOKEN }} . --file NMap/Dockerfile --tag my-image-name:$(date +%s)
      run: docker build --build-arg TTEST=franzi --build-arg GH_TOKEN=${{ secrets.GITHUB_TOKEN }} . --file NMap/Dockerfile --tag my-image-name:$(date +%s) --no-cache

#    - name: Upload Artifact
#      uses: actions/upload-artifact@v4
#      with:
#        name: nmap-results
#        path: /outputfile.txt
